body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
 padding: 40px;
}

.navigation{
    margin-left: 100px;
}

header .navigation a{
    margin-left: 50px;
}
header .navigation a:hover{
    color: #5457ff;
}

.fa-caret-down{
margin-left: 10px;
}

.navigation-button-login{
    background-color: white;
    margin-right: 5px;
    padding: 15px 25px;
    margin-left: 100px;
    border: 0.5px solid #5457ff;
    color: #5457ff;
    border-radius: 5px;
}

.navigation-button-login:hover {
    background-color: #e9e9e9;
}

.navigation-button-tryfree{
    padding: 15px 25px;
    border: 0.5px solid #5457ff;
    border-radius: 5px;
    background-color: #5457ff;
    color: white;
}



.blue-part-cta {
    margin-bottom: 1000px;
    text-align: center;
    color: white;
  
}

.blue-part-cta-content{
    padding: 50px;
    margin: auto;
    width: 80%;
    background-color:#4b4e93;
}

.blue-part-cta-content h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.blue-part-cta-content p{
    margin-top: 100px;
    margin: auto;
    width: 70%;
}

.blue-part-cta-content button{
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 25px;
    border: 0.5px solid #ffffff;
    border-radius: 5px;
    color: white;
    background-color:#4b4e93;

}

footer{
    padding: 50px;
    color: white;
    width: auto;
    height: 500px;
    background-color:#32325c;
}

.first-column{

    width: 25%;
}